body {
font-family: Arial , Veranda , sans-sariff;
color: #4416af;
padding: 20px;
background-color: yellow;
}
/* 
.page {

    border: 10px solid #4bac86
    background-color:  #ffff00;
    padding: 5px;
}
head{ background-color: 30px solid violet;


}  */
/* head
article{


}article
footer{ */

    
/* }footer

{body */